* {
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  background: white;
  z-index:250;
  .navbar {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbarLogo {
      width: 33.3%;
      .logo {
        width: 50px;
        height: 50px;
      }
    }
    .searchBox {
      width: 33.3%;
      form {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        text-align: center;
        input {
          font-size: 17px;
          color: #484848;
          width: 100%;
          outline: none;
          padding: 5px;
          box-shadow: 0 0 3px #666;
          border-radius: 5px;
          border: none;
          text-align: center;
          transition:0.5s ease-in-out;
        }
        input:hover{
          box-shadow: 0 0 5px #000;
        }
        input::placeholder {
          text-align: center;
        }
        .searchIcon {
          border: none;
          background: none;
          outline: none;
          box-shadow: none;
          position: absolute;
          right: 60%;
          top: 0px;
          bottom: 0px;
        }
      }
    }
    .navbarItems {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 33.3%;
      ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:flex-end;
        li {
          transition: ease-in-out 0.3s;
          padding: 0 0.5rem;
          font-weight: 500;
          a {
            color: #000;
            text-decoration: none;
            text-decoration-line: none;
          }
          a:hover ,a:active {
              color: darkblue;
          }
        }
      }
      
    }
  }
}
@media only screen and (max-width: 700px) {
  header{
  .navbar{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    .navbarItems{
    display: none;
  }
  .navbarBurg{
    width: 30px;
  }
  .navbarLogo {
    width: 15%;
    .logo {
      width: 50px;
      height: 50px;
      margin-left: 0px;
    }
  }
  .searchBox{
    width: 80%;
  }
  
}
}
}