body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  margin: 40px auto 40px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #f4f7fc;
  overflow: hidden;
  position: relative;

  .header-title {
    height: 60px;
    color: #000;
    width: 100%;
    height: 60px;
  }

  .open-modal {
    padding: 5px;
    background-color: #f56468;
    outline: none;
    border: 6px solid #e25c60;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    &:hover {
      background-color: #f57e82;
      border: 6px solid #da7477;
      border-radius: 18px;
      transform: scale(1.05);
    }
    transition: all ease-in-out 0.5s;
  }

  form {
    margin: 12px auto;
    border: 3px solid #3b3b3b;
    outline: 0;
    background: white;
    input {
      outline: 0;
      width: 60%;
      height: 32px;
      border: none;
      font-size: 18px;
      font-weight: normal;
      padding-left: 10px;
    }
    button {
      outline: 0;
      float: right;
      width: 30%;
      height: 34px;
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer;
      background-color: #3b3b3b;
    }
  }
}

.remove {
  border-radius: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #f56468;
  opacity: 10%;
  transition: all ease-in 0.25s;
  &:hover {
    background-color: #f56468;
    opacity: 100%;
  }
  &:focus {
    outline: none;
  }
}

.done {
  text-decoration: line-through;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #f88989;
  border-color: #f88989 transparent #f88989 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
