.sidebar{
    width: 18%;
    border :1px solid green;
}

.sidebarContent{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    //flex-wrap: wrap;
    .sidebarItem{
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
        background-color: white ;
        }
        .item1{
            display: flex;
            width: 100%;
            height: 60px;

            align-items: center;
            .item1Icon{
                width: 30%;
                height: 100%;
                background-color: orange;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color:white;
                    font-size: 40px;
                    text-align: center;
                    
                }
            }
            .item1Description{
                width: 70%;
                margin-left:10px;
                h2{
                    font-size: 16px;
                    margin:0px;
                    padding: 0px;
                }
                p{
                    margin:0px;
                    padding: 0px;
                    font-size: 14px;
                    color:gray;
                }
            }
    }
}