
main{
    z-index:200;
    width: 95%;
    max-width: 1000px;
    //height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 95px auto;
    
    
}
.upBar{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color:white;
    position: relative;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    p{
        padding: 0;
        margin: auto 0 auto 20px;
        left: 20px;
        color:gray;
        transition: 0.2s ease-in-out;
    }
    p:active,p:hover{
        color:black;
        font-weight: 500;
    }
    .upBarFilter{
        position:absolute;
        right: 15px;
        height: 100%;
        .fas{
            color:grey;
            margin:50% 0px;
            transition: ease-in-out 0.4s;
        }
        .fas:hover{
            color:black;
        }
    }
}
