.toggleBtn {
    height: 100%;
    background: whitesmoke;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 300;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      li {
        margin: 0.5rem 0;
  
        a {
          color: purple;
          text-decoration: none;
          font-size: 1.2rem;
        }
        a:hover,
        a:active {
          color: orange;
        }
      }
    }
  }
  .open {
    transform: translateX(0);
  }
  @media only screen and (min-width: 700px) {
    .toggleBtn{
      display: none;
      transition: ease-in-out 0.3s;
    }
  }
  
